Data Cleaning Using Pandas

Setting up imports

In [282]:
import pandas as pd

Creating DataFrame from unclean csv file

In [283]:
df = pd.read_csv("unclean_1950-2021_all_tornadoes.csv")

Naming Index Column

In [284]:
index_name=df.index.name
df.index.name = "Index"
df.head()

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
Index,,,,,,,,,,,,,,,,,,,,,
0,192,1950,10,1,1950-10-01,21:00:00,3,OK,40,23,...,15.8,10,1,1,1,25,0,0,0,0
1,193,1950,10,9,1950-10-09,02:15:00,3,NC,37,9,...,2.0,880,1,1,1,47,0,0,0,0
2,195,1950,11,20,1950-11-20,02:20:00,3,KY,21,1,...,0.1,10,1,1,1,177,0,0,0,0
3,196,1950,11,20,1950-11-20,04:00:00,3,KY,21,2,...,0.1,10,1,1,1,209,0,0,0,0
4,197,1950,11,20,1950-11-20,07:30:00,3,MS,28,14,...,2.0,37,1,1,1,101,0,0,0,0

Creating New Columns

In [285]:
#len into Length in Miles
df["Length in Miles"] = df["len"]
df.head()

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,wid,ns,sn,sg,f1,f2,f3,f4,fc,Length in Miles
Index,,,,,,,,,,,,,,,,,,,,,
0,192,1950,10,1,1950-10-01,21:00:00,3,OK,40,23,...,10,1,1,1,25,0,0,0,0,15.8
1,193,1950,10,9,1950-10-09,02:15:00,3,NC,37,9,...,880,1,1,1,47,0,0,0,0,2.0
2,195,1950,11,20,1950-11-20,02:20:00,3,KY,21,1,...,10,1,1,1,177,0,0,0,0,0.1
3,196,1950,11,20,1950-11-20,04:00:00,3,KY,21,2,...,10,1,1,1,209,0,0,0,0,0.1
4,197,1950,11,20,1950-11-20,07:30:00,3,MS,28,14,...,37,1,1,1,101,0,0,0,0,2.0

Formatting Column Values

Did not format

Dropping Columns

In [286]:
df.drop(['om','tz', 'stf', 'stn', 'mag', 'wid','f1', 'f2','f3','f4','fc'], axis = 1, inplace = True)

Renaming Columns

In [287]:
renamed_df = df.rename(columns = {"yr": "Year", "mo":"Month", "dy": "Day","date":"Date", "time":"Time Stamp", "st":"State", "inj":"Injuries", "fat":"Fatalities", "loss":"Property Loss", "closs":"Crop Loss", "slat":"Start Latitude", "slon": "Start Longitude", "elat": "End Latitude", "elon":"End Longitude"})
renamed_df.head()

,Year,Month,Day,Date,Time Stamp,State,Injuries,Fatalities,Property Loss,Crop Loss,Start Latitude,Start Longitude,End Latitude,End Longitude,len,ns,sn,sg,Length in Miles
Index,,,,,,,,,,,,,,,,,,,
0,1950,10,1,1950-10-01,21:00:00,OK,0,0,4.0,0.0,36.73,-102.52,36.88,-102.3,15.8,1,1,1,15.8
1,1950,10,9,1950-10-09,02:15:00,NC,3,0,5.0,0.0,34.17,-78.60,0.00,0.0,2.0,1,1,1,2.0
2,1950,11,20,1950-11-20,02:20:00,KY,0,0,5.0,0.0,37.37,-87.20,0.00,0.0,0.1,1,1,1,0.1
3,1950,11,20,1950-11-20,04:00:00,KY,0,0,5.0,0.0,38.20,-84.50,0.00,0.0,0.1,1,1,1,0.1
4,1950,11,20,1950-11-20,07:30:00,MS,3,0,4.0,0.0,32.42,-89.13,0.00,0.0,2.0,1,1,1,2.0

Drop Column

In [288]:
renamed_df.drop("len", axis = 1, inplace=True)

Identifying & Removing Null Values

In [289]:
#Identification
renamed_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68868 entries, 0 to 68867
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             68868 non-null  int64
 1   Month            68868 non-null  int64
 2   Day              68868 non-null  int64
 3   Date             68868 non-null  object
 4   Time Stamp       68868 non-null  object
 5   State            68868 non-null  object
 6   Injuries         68868 non-null  int64
 7   Fatalities       68868 non-null  int64
 8   Property Loss    68868 non-null  float64
 9   Crop Loss        68868 non-null  float64
 10  Start Latitude   68868 non-null  float64
 11  Start Longitude  68868 non-null  float64
 12  End Latitude     68868 non-null  float64
 13  End Longitude    68868 non-null  float64
 14  ns               68868 non-null  int64
 15  sn               68868 non-null  int64
 16  sg               68868 non-null  int64
 17  Length in Miles  68868 non-null  float64
dtypes: float64(7), int64(8), object(3)
memory usage: 9.5+ MB

In [290]:
#Removal 
#no null values found

Identifying & Removing Outliers

In [291]:
# No apparent outliers
# Identification
sorted_df = renamed_df.sort_values("Injuries")
sorted_df.tail()

,Year,Month,Day,Date,Time Stamp,State,Injuries,Fatalities,Property Loss,Crop Loss,Start Latitude,Start Longitude,End Latitude,End Longitude,ns,sn,sg,Length in Miles
Index,,,,,,,,,,,,,,,,,,
15557,1974,4,3,1974-04-03,13:30:00,OH,1150,36,8.0,0.0,39.6300,-84.050,39.9200,-83.6000,1,1,1,31.30
1090,1953,6,9,1953-06-09,14:25:00,MA,1228,94,8.0,0.0,42.4700,-72.170,42.3000,-71.5200,1,1,1,34.90
56260,2011,4,27,2011-04-27,15:43:00,AL,1500,64,2450.0,0.0,33.0297,-87.935,33.6311,-86.7436,1,1,1,80.68
19850,1979,4,10,1979-04-10,17:50:00,TX,1740,42,8.0,0.0,33.8200,-98.650,34.0300,-98.1200,2,1,2,34.10
19849,1979,4,10,1979-04-10,17:50:00,TX,1740,42,8.0,0.0,33.8200,-98.650,34.1800,-97.9800,2,0,1,46.90

In [292]:
# Removal
# Nothing obvious to remove

Identifying & Removing Duplicates

In [293]:
# Identification
sorted_df.duplicated().sort_values()

Index
0        False
9354     False
9355     False
9356     False
9358     False
         ...
18400     True
3905      True
2213      True
23734     True
30554     True
Length: 68868, dtype: bool

In [294]:
sorted_df[sorted_df.duplicated()]

,Year,Month,Day,Date,Time Stamp,State,Injuries,Fatalities,Property Loss,Crop Loss,Start Latitude,Start Longitude,End Latitude,End Longitude,ns,sn,sg,Length in Miles
Index,,,,,,,,,,,,,,,,,,
45318,2003,6,12,2003-06-12,12:56:00,TX,0,0,0.0,0.0,30.70,-94.93,30.70,-94.93,1,1,1,0.2
45400,2003,6,24,2003-06-24,18:00:00,SD,0,0,0.0,0.0,44.33,-98.18,44.33,-98.18,1,1,1,0.2
45895,2004,10,4,2004-10-04,16:44:00,CO,0,0,0.0,0.0,40.33,-104.85,40.33,-104.85,1,1,1,0.1
42830,2001,5,29,2001-05-29,12:07:00,CO,0,0,0.0,0.0,38.08,-102.67,38.08,-102.67,1,1,1,0.1
43902,2002,5,11,2002-05-11,17:25:00,KS,0,0,0.0,0.0,37.95,-98.42,37.95,-98.42,1,1,1,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21933,1981,6,24,1981-06-24,13:45:00,FL,0,0,0.0,0.0,27.25,-80.95,0.00,0.00,1,1,1,0.1
31570,1992,5,15,1992-05-15,16:05:00,SD,0,0,0.0,0.0,43.95,-98.58,0.00,0.00,1,1,1,0.1
31581,1992,5,15,1992-05-15,17:28:00,NE,0,0,0.0,0.0,42.78,-98.97,0.00,0.00,1,1,1,0.5
7334,1963,8,16,1963-08-16,19:00:00,WI,13,0,5.0,0.0,43.30,-89.72,43.30,-89.52,1,1,1,9.6
7333,1963,8,16,1963-08-16,19:00:00,WI,13,0,5.0,0.0,43.30,-89.72,43.30,-89.52,1,1,1,9.6

In [295]:
#Removal
deduped_df = sorted_df.drop_duplicates()
deduped_df[deduped_df.duplicated()]

Empty DataFrame
Columns: [Year, Month, Day, Date, Time Stamp, State, Injuries, Fatalities, Property Loss, Crop Loss, Start Latitude, Start Longitude, End Latitude, End Longitude, ns, sn, sg, Length in Miles]
Index: []

Converting Date & Time to DateTime

In [296]:
deduped_df["Date"] = pd.to_datetime(deduped_df["Date"])
deduped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68517 entries, 0 to 19849
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             68517 non-null  int64
 1   Month            68517 non-null  int64
 2   Day              68517 non-null  int64
 3   Date             68517 non-null  datetime64[ns]
 4   Time Stamp       68517 non-null  object
 5   State            68517 non-null  object
 6   Injuries         68517 non-null  int64
 7   Fatalities       68517 non-null  int64
 8   Property Loss    68517 non-null  float64
 9   Crop Loss        68517 non-null  float64
 10  Start Latitude   68517 non-null  float64
 11  Start Longitude  68517 non-null  float64
 12  End Latitude     68517 non-null  float64
 13  End Longitude    68517 non-null  float64
 14  ns               68517 non-null  int64
 15  sn               68517 non-null  int64
 16  sg               68517 non-null  int64
 17  Length in Miles  68517 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(8), object(2)
memory usage: 9.9+ MB

C:\Users\katri\AppData\Local\Temp\ipykernel_5268\1712335724.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deduped_df["Date"] = pd.to_datetime(deduped_df["Date"])

In [301]:
deduped_df["Time Stamp"] = pd.to_datetime(deduped_df["Time Stamp"])
deduped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68517 entries, 0 to 19849
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             68517 non-null  int64
 1   Month            68517 non-null  int64
 2   Day              68517 non-null  int64
 3   Date             68517 non-null  datetime64[ns]
 4   Time Stamp       68517 non-null  datetime64[ns]
 5   State            68517 non-null  object
 6   Injuries         68517 non-null  int64
 7   Fatalities       68517 non-null  int64
 8   Property Loss    68517 non-null  float64
 9   Crop Loss        68517 non-null  float64
 10  Start Latitude   68517 non-null  float64
 11  Start Longitude  68517 non-null  float64
 12  End Latitude     68517 non-null  float64
 13  End Longitude    68517 non-null  float64
 14  ns               68517 non-null  int64
 15  sn               68517 non-null  int64
 16  sg               68517 non-null  int64
 17  Length in Miles  68517 non-null  float64
dtypes: datetime64[ns](2), float64(7), int64(8), object(1)
memory usage: 9.9+ MB

C:\Users\katri\AppData\Local\Temp\ipykernel_5268\451553056.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  deduped_df["Time Stamp"] = pd.to_datetime(deduped_df["Time Stamp"])

Exporting to CSV File

In [299]:
deduped_df.to_csv("clean_1950-2021_all_tornadoes.csv",encoding="utf-8")